.loader {
  border: 4px solid #f3f4f6;
  border-top: 4px solid #3dacc7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}